:root {
    --blueColor: #1e90ff;
    --whiteColor: #ffffff;
    --spacing: 4px;
    --redColor: #e14c4c;
    --greenColor: green;
    --greeyColor: rgb(153, 152, 152);
}



* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.add_ads_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 50px;
    background-color: black;
    /* background-image: url('../image/Kigali_serena.jpg'); */
    color: white;

}

.add_ads {
    margin: 50px;
}


.save_button_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.save_listing_button {
    background-color: var(--greenColor);
    color: var(--whiteColor);
    border: none;
    text-align: center;
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    align-items: end;
}