:root {
  --blueColor: #1e90ff;
  --whiteColor: #ffffff;
  --spacing: 4px;
  --redColor: #e14c4c;
  --greenColor: green;
  --greeyColor: rgb(166, 165, 165);
  --greeyColorWhite: rgba(235, 235, 235, 0.991);
}



* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.my_profile_menu {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 15px;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 100px;
}

.my_profile_menu p {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--whiteColor);
}

.my_profile_menu p:hover {
  cursor: pointer;
}

.profile_details {
  background-color: var(--greeyColorWhite);
}

.header_profile {
  /* background-color: var(--whiteColor); */
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  padding: 40px;
}

.content_profile {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 40px;
}

#profile_details {
  display: block;
}

#membership_details {
  display: none;
}

#ads_details {
  display: none;
}

#inbox_details {
  display: none;
}


.content_membership {
  display: flex;
  padding: 20px;
}

.details_subscription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.premium_button {
  background-color: green;
  color: white;
  border: none;
  text-align: center;
  width: 150px;
  margin: 10px;
  padding: 10px;
  margin-left: 200px;
  border-radius: 5px;
  align-items: end;
}

#ads_details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}