* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  padding-top: 50px;
  font-family: Arial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.text {
  color: white;
  font-family: helvetica;
  font-size: 16px;
  font-weight: 200;
}

/*for nav bar    */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 5px 10px;
  font-size: 13px;
  border-bottom: 1px solid black;

}

.logo-section {
  flex: 1.5;
}

.logo-section img {
  max-height: 50px;
}

.main-nav {
  flex: 3;

}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.main-nav li {
  position: relative;
}

.main-nav a {
  display: block;
  color: #0a0909;
  text-decoration: none;
  padding: 5px;
}

.main-nav .dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 0;
}

.main-nav .dropdown:hover>ul {
  display: block;
}

.button-section {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  margin-left: 5px;
}

.button-section button {
  background-color: white;
  color: black;
  border: 1px solid #0a0a0a;
  /* padding-left: 15px; */
  padding: 5px;
  margin: 5px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button-section #real_estate {
  background-color: green;
  color: white;
}

.button-section button:hover {
  background-color: #fff;
  color: #161616;
}


li {
  display: inline-block;
  margin-right: 1px;
  position: relative;
}

a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1px;
  font-weight: 200;
}



/* -------------Home_hero----------------------------- */
.home_hero {
  background-color: white;
  font-size: 13px;
}

.home_hero .intro {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

.hero_section {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */

}

.search {
  background-color: rgba(0, 0, 0, 0.397);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../image/nganatech.jpg");
  padding: 75px;
}


.show_case {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #c75050;
  color: white;
  padding: 10px;
  font-size: 13px;

}

.show_case .new_property, .people, .nofitication {
  flex: 1;
  margin: 10px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding: 10px;
  font-size: 13px;
}

.main .main_title {
  flex: 1;
}

.main_cities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.cities_content {
  display: flex;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.cities_content .city_image, .city_description {
  flex: 1;
}

.cities_content .city_description h3 {
  color: #504b4b;
}

.cities_content .city_description p {
  color: #504b4b;
}

/* 
for advert  */

.advert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ede9e9;
  padding: 25px;
}

.advert .advert_main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.advert .advert_main .ad_element {
  padding: 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.why_advert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* .fa {
    width: 100px;
  } */

.why_advert .why_content, .why_image {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* blog post */
.blog_post {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}

.blog_post_header {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}

.blog_post_content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
}