* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  padding-top: 50px;
  font-family: Arial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.text {
  color: white;
  font-family: helvetica;
  font-size: 16px;
  font-weight: 200;
}

/*for nav bar    */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 5px 10px;
  font-size: 13px;
  border-bottom: 1px solid rgb(139, 139, 139);

}

.logo-section {
  flex: 1.5;
  display: flex;
  color: #e14c4c;

}

.logo-section img {
  max-height: 65px;
  padding-right: 10px;
}

.main-nav {
  flex: 3;

}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.main-nav li {
  position: relative;
}

.main-nav a {
  display: block;
  color: #0a0909;
  text-decoration: none;
  padding: 5px;
}

.main-nav .dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 0;
}

.main-nav .dropdown:hover>ul {
  display: block;
}

.button-section {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  margin-left: 5px;
}

.button-section button {
  background-color: white;
  color: black;
  border: 1px solid #0a0a0a;
  /* padding-left: 15px; */
  padding: 5px;
  margin: 5px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button-section #real_estate {
  background-color: green;
  color: white;
}

.button-section button:hover {
  background-color: #fff;
  color: #161616;
}


li {
  display: inline-block;
  margin-right: 1px;
  position: relative;
}

a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1px;
  font-weight: 200;
}

/* .intro .total, .price, .customer {
  font-weight: 700px;
} */

/* -------------Home_hero----------------------------- */
.home_hero {
  background-color: white;
  font-size: 13px;
  background-image: url("../image/kigali.jpg");
  padding-bottom: 30px;
}

.home_hero .intro {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
}



.search {
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

/* for search box */
.search-box {
  display: flex;
  align-items: center;
  width: 400px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
}

button[type="submit"] {
  border: none;
  background: rgb(68, 149, 248);
  color: white;
  cursor: pointer;
  padding: 13px 25px;

}

button[type="submit"]:hover {
  background-color: rgb(16, 83, 165);
}

.fa-search {
  font-size: 50px;
  padding: 10px;
  color: grey;
}




.search input {
  width: 400px;
  padding: 10px;
}


.popular_search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popular_search ul {
  padding-bottom: 20px;
}

.show_case {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #e14c4c;
  color: white;
  padding: 30px;
  font-size: 13px;

}

.show_case .new_property, .people, .nofitication {
  flex: 1;
  margin: 10px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding: 10px;
  font-size: 13px;
  background-color: rgb(239, 240, 242);
}

.main .main_title {
  flex: 1;

}

.main .main_title h3 {
  color: grey;
  align-items: center;
}

.main_cities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 30px;
  padding-bottom: 30px;


}

.cities_content {
  display: flex;
  padding: 10px;
  /* border: 1px solid black; */
  text-align: center;
  background-color: #fff;
}

.cities_content .city_image, .city_description {
  flex: 1;
}

.cities_content .city_description h3 {
  color: #504b4b;
}

.cities_content .city_description p {
  color: #504b4b;
}

/* 
for advert  */

.advert, .most_popular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ede9e9;
  padding: 25px;
}

.advert .advert_main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.advert .advert_main .ad_element {
  padding: 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.why_advert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}


.why_advert .why_content, .why_image {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.call_action_button input {
  background-color: green;
  color: white;
  border: none;
  text-align: center;
  width: 200px;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

/* blog post */
.blog_post {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(246, 245, 245);
}

.blog_post_header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.blog_post_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

}

.grid-item {
  padding: 10px;
  margin: 20px;
  text-align: center;
  background-color: white;
}

.grid-item h4 {
  color: #656161;
  text-align: start;
}

.grid-item p {
  text-align: start;
}

.grid-item input {
  text-decoration: none;
  background-color: white;
  color: red;
  border: none;
  text-align: start;
}

.read_blogs_button {
  display: flex;
  justify-content: center;
}

.read_blogs_button input {
  background-color: green;
  color: white;
  border: none;
  text-align: center;
  width: 200px;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.read_blogs_button input:hover {
  cursor: pointer;
}

.search_agent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search_agent input {
  background-color: rgb(52, 156, 252);
  color: white;
  border: none;
  text-align: center;
  width: 200px;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.search_other_cities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.other_search {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.single_search {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.single_search ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}

.single_search h2 {
  color: rgb(59, 58, 58);
}


.single_search ul {
  color: rgb(49, 106, 159);
}


.single_search ul:hover {
  color: rgb(31, 64, 95);
  cursor: pointer;
}


.want_rent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #e14c4c;
  color: white;
  padding: 30px;
  margin: 0;
}

.want_rent input {
  background-color: green;
  color: white;
  border: none;
  text-align: center;
  width: 200px;
  margin: 20px;
  padding: 10px;
  margin-left: 200px;
  border-radius: 5px;
  align-items: end;
}


/* for foooter */

.menu_footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background-color: #052c47;
  color: white;
  padding: 50px;
  margin: 0;
}


.menu_footer_content {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #052c47;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.menu_footer_content ul li, #footer {
  color: #9fa6ab;
  align-items: center;

}

.menu_footer_content .search_button {
  background-color: green;
  color: white;
  border: none;
  text-align: center;
  width: 150px;
  margin: 10px;
  padding: 10px;
  margin-left: 200px;
  border-radius: 5px;
  align-items: end;
}

.menu_footer_content .language_button {
  background-color: rgba(52, 218, 77, 0);
  color: white;
  border: 1px solid #9fa6ab;
  text-align: center;
  width: 150px;
  margin: 10px;
  padding: 10px;
  margin-left: 200px;
  border-radius: 5px;
  align-items: end;
}


#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #052c47;
}