* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: Arial;
  /* background-color: #3498DB; */
  padding: 50px;
  /* background-image: url("../image/nganatech.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.text {
  color: white;
  font-family: helvetica;
  font-size: 16px;
  font-weight: 200;
}

/*for nav bar    */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 5px 10px;
  font-size: 13px;
  border-bottom: 1px solid black;

}

.logo-section {
  flex: 1.5;
}

.logo-section img {
  max-height: 50px;
}

.main-nav {
  flex: 3;

}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.main-nav li {
  position: relative;
}

.main-nav a {
  display: block;
  color: #0a0909;
  text-decoration: none;
  padding: 5px;
}

.main-nav .dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 0;
}

.main-nav .dropdown:hover>ul {
  display: block;
}

.button-section {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  margin-left: 5px;
}

.button-section button {
  background-color: white;
  color: black;
  border: 1px solid #0a0a0a;
  /* padding-left: 15px; */
  padding: 5px;
  margin: 5px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button-section #real_estate {
  background-color: green;
  color: white;
}

.button-section button:hover {
  background-color: #fff;
  color: #161616;
}


li {
  display: inline-block;
  margin-right: 1px;
  position: relative;
}

a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1px;
  font-weight: 200;
}



/* -------------Home_hero----------------------------- */
.home_hero {
  background-color: white;
  font-size: 13px;
}

.home_hero .intro {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

.hero_section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero_section .search {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}


/* property page*/

.register-property {
  background: blue;
}

/* Clear floats after the columns */

* {
  box-sizing: border-box;
}

.column-grid {
  float: left;
  width: 393px;
  padding: 5px;
  height: 214px;
  border-radius: 5px;
  border: 1px solid white;
  margin: 5px;
  background-color: rgba(222, 222, 222, 0.4);
  text-align: center;

}

h3 {
  padding-top: 35px;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.img {
  height: 170px;
  width: 180px;
  margin-right: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  border: 5px solid grey;
  border-radius: 20px;

}

.property-float img {

  float: left;
}

.text-property {
  border-bottom: solid, 10px,
}

/* Create two equal columns that floats next to each other */
.column-profile {
  float: left;
  width: 50%;
  padding: 10px;
  margin-top: 30px;
  height: 500px;
}

/* Clear floats after the columns */
.row-profile:after {
  content: "";
  display: table;
  clear: both;

}

/*for modigying and delte button */

.btn-modify {
  border: 2px solid white;
  background: rgb(52, 172, 219);
  color: #ffffff;
  font-size: 17px;
  line-height: 25px;
  padding: 7px 7px 7px 7px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: inline;
  width: auto;
  margin: 0 auto;
}

.btn-delete {
  border: 2px solid white;
  background: rgb(219, 52, 66);
  color: #ffffff;
  font-size: 17px;
  line-height: 25px;
  padding: 7px 7px 7px 7px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: inline;
  width: auto;
  margin: 0 auto;
}

.btn_addCart {
  border: 2px solid white;
  background: rgba(7, 139, 78, 0.705);
  color: #ffffff;
  font-size: 17px;
  line-height: 25px;
  padding: 7px 7px 7px 7px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: inline;
  width: auto;
  margin: 0 auto;
}


/*filter for advert*/


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.sold {
  display: inline
}


/* for radio checking sold things*/

.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field input:checked+label {
  background-color: #a5dc86;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

/* for footer */


#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  padding-top: 15px;
  background-color: #efefef;
  text-align: center;
  font-size: 16px;
}

.grid .column-grid a {
  text-decoration: none;
}


/* user property */


/* .column-grid-Property{
    
    margin-right: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    width:390px;
    height: auto;
    float: right;  
   
  } */

.grid-property {
  background-color: rgba(222, 222, 222, 0.4);

}

.h3-property {
  text-align: center;

}


.img-property {
  height: 290px;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  border: 5px solid grey;
  border-radius: 20px;

}



/******* Slideshow ********/
.mySlides {
  display: none;
}

img {
  vertical-align: middle;
  max-height: 300px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 18px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: rgb(106, 104, 98);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


.fa-1x {
  border: 1px solid goldenrod;
  border-radius: 100%;
  padding: 5px;
  text-decoration: none;
  background-color: none;
}

.fa-4x {
  color: #212121;
  border: 2px solid goldenrod;
  border-radius: 100%;
  padding: 15px;
  margin-bottom: 5px;
}

.welcome {
  display: grid;
  justify-content: center;
  color: white;
  text-shadow: #555;
}